In [1]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [5]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [9]:
s = "hello"
t = "python"
print(s+"!" ,t)

hello! python

In [10]:
a = "str"
print(type(a))

<class 'str'>

In [11]:
num_str = "720"
int(num_str)
print(int(num_str))

720

In [12]:
str1 = "15.79"
result = float(str1)
print(result, type(result))

15.79 <class 'float'>

In [13]:
year = "2020"
recent_y = int(year)
recent_y1 = int(year)-1
recent_y3 = int(year)-2

In [14]:
monthly = 48584
months = 36
total = monthly * months
print(total)

1749024