In [2]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*3)

python java python java python java

In [7]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
print("이름: %s 나이: %d" % (name1, age1))

이름: 김민수 나이: 10

In [8]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
print("이름 {} 나이 {}".format(name1, age1))

이름 김민수 나이 10

In [9]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
print(f"이름 {name1}, 나이 : {age1}")

이름 김민수, 나이 : 10

In [10]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(",",'')))

5969782550

In [11]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [14]:
data = "   삼성전자    "
print(data.strip())

삼성전자